/* GLOBAL CSS GLOBAL CSS GLOBAL CSS GLOBAL CSS GLOBAL CSS*/
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding-inline: 20px;
}
.error,
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.products-container,
.details-container,
.shopping-cart {
  padding-block: 80px 20px;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

.header {
  border-bottom: 1px solid lightgray;
  box-shadow: 2px 1px 4px lightgray;
  padding-block: 1rem;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .container a {
  color: #333;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 26px;
  text-decoration:underline;
}

/* CART CART CART CART CART CART CART CART CART CART CART CART  */

.cart-frame {
  position: relative;
  width: 28px;
  cursor: pointer;
  transition: 0.3s ease;
}
.cart-frame:hover {
  transform: scale(1.1);
}
.cart-icon-img {
  width: 100%;
}
.cart-icon-items {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ba2d4e;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  color: white;
}

.cart-container {
  width: 100%;
}

.shopping-cart {
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow: auto;
  z-index: 2;
  position: absolute;
  background: #f4f1f1;
  padding-bottom: 4rem;
  right: 0;
  top: 0;
  transition: 0.1s ease;
}
.disabled {
  width: 0;
  height: 0;
  opacity: 0;
}
.cart-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  padding: 1rem 2rem;
  margin: 2rem auto 0;
  align-items: center;
  gap: 2rem;
  height: 240px;
  background: #fff;
  border-radius: 10px;
}
.cart-element-image {
  width: 300px;
  display: flex;
  justify-content: center;
}

.cart-element-image img {
  height: 150px;
  max-width: 300px;
  width: auto;
  margin: 0 auto;
}
.cart-element-info {
  width: 500px;
}
.cart-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
  align-items: center;
}
.cart-checkout-btn,
.cart-remove-all-btn,
.check-products-btn {
  width: 300px;
  padding: 1rem 4rem;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  transition: 0.3s ease;
  color: #fff;
}
.cart-remove-all-btn {
  background: rgb(220, 33, 33);
}
.cart-remove-all-btn:hover {
  background: red;
  box-shadow: 0px 15px 10px -15px red;
  transform: translateY(-5px);
}
.cart-checkout-btn,
.check-products-btn {
  background:#777;
}
.cart-checkout-btn:hover,
.check-products-btn:hover {
  background: #666;
  box-shadow: 0px 15px 10px -15px #111;
  transform: translateY(-5px);
}
.empty-cart-message {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  place-content: center;
}
.empty-cart-message h2 {
  margin-bottom: 1rem;
  font-size: 36px;
}
.empty-cart-message button {
  margin: 0 auto;
}
.cart-el-title {
  margin-block: 1rem;
}
.cart-el-price {
  font-weight: 600;
}
.remove-button {
  max-height: 48px;
  cursor: pointer;
  transition: 0.25s ease;
}

/* FILTERS FILTERS FILTERS FILTERS FILTERS FILTERS FILTERS FILTERS  */

.filters-container {
  margin-top: 1rem;
}
.filter-toggle {
  font-weight: 600;
  text-decoration: underline;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
  width: 140px;
  text-align: center;
}
.filter-btns {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.filter-btns .filter-btn {
  padding: 0.25rem 1rem;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: #f5f4f4;
  border-radius: 4px;
  transition: 0.3s ease;
}
.filter-btns .filter-btn:hover {
  background: brown;
  color: #fff;
}
.filter-btns .active {
  background: brown;
  color: #fff;
}
.clear-filters {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

/* PRODUCT LISTING PRODUCT LISTING PRODUCT LISTING PRODUCT LISTING  */

.product-listing {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.card {
  padding: 1rem;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.25s ease;
  border-radius: 15px;
  box-shadow: 1px 1px 4px rgb(240, 236, 236);
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 1px 1px 4px rgb(150, 140, 140);
}

.card-img {
  padding-block: 1rem;
  border-bottom: 1px solid lightgray;
  height: 220px;
  display: flex;
  justify-content: center;
}

.card-img img {
  max-width: 100%;
  width: auto;
  height: 100%;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}
.title {
  height: 48px;
  overflow: hidden;
  margin-block: 5px;
  line-height: 22px;
  font-size: 17px;
  font-weight: 600;
  color: rgb(38, 38, 38);
}

.price {
  font-weight: 600;
  background: rgb(221, 221, 221);
  padding: 4px 10px;
  width: 70px;
  text-align: center;
  border-radius: 4px;
}
.category {
  margin-top: 5px;
  color: gray;
  font-size: 14px;
}

/* SINGLE PRODUCT PAGE SINGLE PRODUCT PAGE SINGLE PRODUCT PAGE  */

.single-product {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}
.sp-img {
  padding: 2rem;
  width: 40%;
}
.sp-img img {
  width: 100%;
}
.sp-info {
  padding: 2rem;
  width: 50%;
}
.sp-title {
  color: #333;
  font-size: 32px;
  margin-bottom: 1.5rem;
}
.sp-price {
  font-size: 20px;
  color: #fff;
  background: rgb(30, 183, 170);
  width: 120px;
  padding: 0.5rem;
  text-align: center;
  position: relative;
  pointer-events: none;
}

.sp-price .dot1,
.sp-price .dot2 {
  width: 10px;
  height: 10px;
  background: white;
  position: absolute;
  border-radius: 50%;
  top: 37%;
}
.dot1 {
  left: 10px;
}
.dot2 {
  right: 10px;
}
.price_rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating {
  background: rgb(178, 183, 30);
  margin-left: 1rem;
  text-align: center;
  align-items: center;
  display: flex;
  color: #fff;
  padding:0.35rem 2rem;
  font-size: 20px;
  pointer-events: none;
}

.sp-category {
  color: brown;
  font-weight: 600;
  padding: 1rem;
  margin-top: 1rem;
  background: rgb(240, 240, 240);
  border: 1px solid lightgray;
  border-radius: 5px;
}

.sp-desc {
  font-size: 18px;
  margin-top: 1rem;
  line-height: 24px;
  color: #777;
}
.add-to-cart-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-block: 1rem 0.5rem;
}
.qty-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.qty-input .select-qty {
  font-size: 18px;
  width: 100px;
  background: rgb(30, 183, 170);
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  caret-color: rgb(30, 183, 170);
  width: 180px;
}

.sp-btn {
  background: rgb(30, 183, 170);
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding-block: 0.7rem;
  cursor: pointer;
  transition: 0.3s ease;
  width: 180px;
}
.sp-btn:hover {
  background: rgb(22, 136, 127);
  box-shadow: 0px 15px 10px -15px rgb(22, 136, 127);
  transform: translateY(-5px);
}

/* LOADING CIRCLE LOADING CIRCLE LOADING CIRCLE LOADING CIRCLE  */

.circle {
  position: absolute;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
}
.circle div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: circle 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.circle div:nth-child(2) {
      animation-delay: -0.5s;
}
  
  @keyframes circle {
  0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
  }
  4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
  }
  5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
  }
  100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
  }
}

/* MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  */

@media(max-width: 1024px) {
  .product-listing {
    grid-template-columns: repeat(3, 1fr);
  }
  .price_rating {
    flex-direction: column;
    align-items: flex-start;
  }
  .rating {
    margin-left: 0;
    margin-top: 0.5rem;
    padding-inline: 0.5rem;
  }
}

@media (max-width: 987px) {
  .cart-element-image img {
    max-width: 220px;
  }
}

@media(max-width: 767px) {
  .product-listing {
    grid-template-columns: repeat(2, 1fr);
  }
  .single-product {
    flex-direction: column;
  }
  .sp-info {
    width: 90%;
  }
  .cart-element {
    height: auto;
    margin-top: 1rem;
  }
  .cart-element-image {
    width: 120px;
  }
  .cart-element-image img {
    max-width: 120px;
    height: 120px;
  }
  .remove-button {
    max-width: 36px;
  }
  .cart-btns {
    flex-direction: column;
  }
  .cart-btns button {
    padding: 0.7rem 0.5rem;
  }
}

@media(max-width: 575px) {
  .filter-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cart-element {
    flex-direction: column;
    align-items: center;
  }
  .cart-element-info {
    text-align: center;
    width: auto;
  }
}

@media(max-width: 365px) {
  .filter-btns {
    grid-template-columns: 1fr;
  }
  .cart-btns button {
    width: 250px;
  }
  .check-products-btn {
    width: 200px;
    padding-inline: 1rem;
  }
  .empty-cart-message {
    width: 100%;
  }
  .empty-cart-message h2 {
    font-size: 32px;
  }
}

@media(max-width: 505px) {
  .product-listing {
    grid-template-columns: 1fr;
  }
  .single-product {
    text-align: center;
  }
  .sp-title {
    font-size: 24px;
  }
  .sp-price,
  .rating {
    font-size: 16px;
    margin: 5px auto;
  }
  .sp-category {
    padding-block: 0.4rem;
    font-size: 14px;
  }
  .sp-desc {
    font-size: 16px;
  }
  .qty-input input,
  .sp-btn {
    font-size: 14px;
  }
  .sp-btn {
    margin-bottom: 1rem;
  }
  .sp-info {
    padding-inline: 0;
  }
  .add-to-cart-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .add-to-cart-form .sp-btn {
    margin-top: 0;
  }
}