/* GLOBAL CSS GLOBAL CSS GLOBAL CSS GLOBAL CSS GLOBAL CSS*/
#root {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;

  --primary-color: rgb(55, 65, 81);
  --secondary-color: rgb(30, 183, 170);
}
a {
  color: black;
  text-decoration: none;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding-inline: 20px;
}
.error,
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.details-container,
.shopping-cart {
  padding-block: 80px 20px;
}
.products-container {
  padding-block: 40px 20px;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

.header {
  border-bottom: 1px solid lightgray;
  box-shadow: 2px 1px 4px rgba(53, 63, 81, 0.253);
  padding-block: 1rem;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .container .nav-logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 100%;
}
.header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.header-links a {
  font-weight: 600;
  transition: 0.3s ease;
  color: var(--primary-color);
}
.header-links a:hover {
  text-decoration: underline;
}

/* CART CART CART CART CART CART CART CART CART CART CART CART  */

.cart-frame {
  position: relative;
  width: 22px;
  cursor: pointer;
  transition: 0.3s ease;
}
.cart-icon-img {
  width: 100%;
}
.cart-icon-items {
  position: absolute;
  right: -5px;
  bottom: -2px;
  background-color: #ba2d4e;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  color: white;
}

.cart-container {
  width: 100%;
}

.shopping-cart {
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow: auto;
  z-index: 2;
  position: absolute;
  background: #f4f1f1;
  padding-bottom: 4rem;
  right: 0;
  top: 0;
  transition: 0.1s ease;
}
.disabled {
  width: 0;
  height: 0;
  opacity: 0;
}
.cart-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  padding: 1rem 2rem;
  margin: 2rem auto 0;
  align-items: center;
  gap: 2rem;
  height: 240px;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.cart-element-image {
  width: 300px;
  display: flex;
  justify-content: center;
}

.cart-element-image img {
  height: 150px;
  max-width: 300px;
  width: auto;
  margin: 0 auto;
}
.cart-element-info {
  width: 500px;
}
.cart-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
  align-items: center;
}
.cart-checkout-btn,
.cart-remove-all-btn,
.check-products-btn {
  width: 300px;
  padding: 1rem 4rem;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  transition: 0.3s ease;
  color: #fff;
}
.cart-remove-all-btn {
  background: rgb(220, 33, 33);
}
.cart-remove-all-btn:hover {
  background: red;
  box-shadow: 0px 15px 10px -15px red;
  transform: translateY(-5px);
}
.cart-checkout-btn,
.check-products-btn {
  background: #777;
}
.cart-checkout-btn:hover,
.check-products-btn:hover {
  background: #666;
  box-shadow: 0px 15px 10px -15px #111;
  transform: translateY(-5px);
}
.empty-cart-message {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  place-content: center;
}
.empty-cart-message h2 {
  margin-bottom: 1rem;
  font-size: 36px;
}
.empty-cart-message button {
  margin: 0 auto;
}
.cart-el-category {
  color: gray;
}
.cart-el-title {
  margin-block: 1rem;
  color: var(--primary-color);
}
.cart-el-price {
  font-weight: 600;
  color: var(--primary-color);
}
.remove-button {
  max-height: 48px;
  cursor: pointer;
  transition: 0.25s ease;
}

/* FILTERS FILTERS FILTERS FILTERS FILTERS FILTERS FILTERS FILTERS  */

.filters-container {
  margin-top: 6rem;
}
.filter-toggle {
  font-weight: 600;
  text-decoration: underline;
  font-size: 16px;
  width: 130px;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-color);
}
.filter-btns {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.filter-btns .filter-btn {
  padding: 0.25rem 1rem;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: #f5f4f4;
  border-radius: 4px;
  transition: 0.3s ease;
  text-align: center;
}
.filter-btns .filter-btn:hover {
  background: var(--primary-color);
  color: #fff;
}
.filter-btns .active {
  background: var(--primary-color);
  color: #fff;
}
.clear-filters {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

/* PRODUCT LISTING PRODUCT LISTING PRODUCT LISTING PRODUCT LISTING  */

.product-listing {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.25s ease;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 20px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-img {
  padding-block: 1rem;
  border-bottom: 1px solid lightgray;
  height: 220px;
  display: flex;
  justify-content: center;
}

.card-img img {
  max-width: 100%;
  width: auto;
  height: 100%;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}
.title {
  height: 48px;
  overflow: hidden;
  margin-block: 5px;
  line-height: 22px;
  font-size: 17px;
  font-weight: 600;
  color: var(--primary-color);
}

.price {
  font-weight: 600;
  background: rgb(221, 221, 221);
  padding: 4px 10px;
  width: 70px;
  text-align: center;
  border-radius: 4px;
  color: var(--primary-color);
}
.category {
  margin-top: 5px;
  color: gray;
  font-size: 14px;
}

/* SINGLE PRODUCT PAGE SINGLE PRODUCT PAGE SINGLE PRODUCT PAGE  */

.single-product {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}
.sp-img {
  padding: 2rem;
  width: 40%;
}
.sp-img img {
  width: 90%;
}
.sp-info {
  padding: 2rem;
  width: 50%;
}
.sp-title {
  color: var(--primary-color);
  font-size: 32px;
  margin-bottom: 0;
}
.sp-price {
  font-size: 20px;
  color: #fff;
  background: rgb(30, 183, 170);
  width: 120px;
  padding: 0.5rem;
  text-align: center;
  position: relative;
  pointer-events: none;
}

.sp-price .dot1,
.sp-price .dot2 {
  width: 10px;
  height: 10px;
  background: white;
  position: absolute;
  border-radius: 50%;
  top: 37%;
}
.dot1 {
  left: 10px;
}
.dot2 {
  right: 10px;
}
.price_rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating {
  margin-left: 1rem;
  text-align: center;
  align-items: center;
  display: flex;
  color: #fff;
  padding: 0.35rem 2rem;
  font-size: 20px;
  pointer-events: none;
}

.sp-category {
  color: var(--primary-color);
  font-weight: 600;
  padding: 1rem;
  margin-top: 1rem;
  background: rgb(240, 240, 240);
  border: 1px solid lightgray;
  border-radius: 5px;
}

.sp-desc {
  font-size: 18px;
  margin-top: 1rem;
  line-height: 24px;
  color: #777;
}
.add-to-cart-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-block: 1rem 0.5rem;
}
.qty-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.qty-input .select-qty {
  font-size: 18px;
  width: 100px;
  background: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 180px;
  padding-block: 5px;
}

.sp-btn {
  background: var(--secondary-color);
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding-block: 0.7rem;
  cursor: pointer;
  transition: 0.3s ease;
  width: 180px;
}
.sp-btn:hover {
  background: rgb(22, 136, 127);
  box-shadow: 0px 15px 10px -15px rgb(22, 136, 127);
  transform: translateY(-5px);
}

/* LOADING CIRCLE LOADING CIRCLE LOADING CIRCLE LOADING CIRCLE  */

.circle {
  position: absolute;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
}
.circle div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: circle 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.circle div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes circle {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* LOGIN */ /* LOGIN */ /* LOGIN */ /* LOGIN */ /* LOGIN */ /* LOGIN */ /* LOGIN */

.login-page {
  position: absolute;
  top: 65px;
  left: 0;
  background: #f4f1f1;
  width: 100%;
  height: 100vh;
  border-radius: 5px;
}
.login-page h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}

.login-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin-top: 150px;
  gap: 1rem;
  padding: 3rem 2rem;
  border-radius: 10px;
  background: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.button-container input {
  padding-block: 0.5rem;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 5px;
  background: white;
  font-weight: 600;
}
.button-container {
  margin: 1rem auto 0;
  width: 200px;
}

.button-container input:hover {
  box-shadow: inset 0 -32px 0 0 var(--secondary-color);
  color: #fff;
}

.input {
  padding: 0.7rem;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  outline-color: var(--primary-color);
  text-align: center;
  color: var(--primary-color);
}

/* MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  */

@media (max-width: 1024px) {
  .product-listing {
    grid-template-columns: repeat(3, 1fr);
  }
  .price_rating {
    flex-direction: column;
    align-items: flex-start;
  }
  .sp-img img {
    width: 100%;
  }

  .sp-price {
    margin-bottom: 0;
  }
  .rating {
    margin-left: 0;
    margin-top: 0.5rem;
    padding-inline: 0.5rem;
  }
}

@media (max-width: 987px) {
  .cart-element-image img {
    max-width: 220px;
  }
}

@media (max-width: 768px) {
  .product-listing {
    grid-template-columns: repeat(2, 1fr);
  }
  .single-product {
    flex-direction: column;
  }
  .sp-info {
    width: 90%;
  }
  .cart-element {
    height: auto;
    margin-top: 1rem;
  }
  .cart-element-image {
    width: 120px;
  }
  .cart-element-image img {
    max-width: 120px;
    height: 120px;
  }
  .remove-button {
    max-width: 36px;
  }
  .cart-btns {
    flex-direction: column;
  }
  .cart-btns button {
    padding: 0.7rem 0.5rem;
  }
  .cart-el-category {
    font-size: 14px;
  }
  .cart-el-title,
  .cart-el-price {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .filter-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cart-element {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .cart-element-info {
    text-align: center;
    width: auto;
  }
  .product-listing {
    grid-template-columns: 1fr;
  }
  .single-product {
    text-align: center;
  }
  .sp-title {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  .sp-price,
  .rating {
    font-size: 16px;
    margin: 5px auto;
  }
  .sp-category {
    padding-block: 0.4rem;
    font-size: 14px;
  }
  .sp-desc {
    font-size: 16px;
  }
  .qty-input input,
  .sp-btn {
    font-size: 14px;
  }
  .sp-btn {
    margin-bottom: 1rem;
  }
  .sp-info {
    padding-inline: 0;
  }
  .add-to-cart-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .add-to-cart-form .sp-btn {
    margin-top: 0;
  }

  .login-page form {
    width: 90%;
    padding-inline: 0.5rem;
  }
  .login-page input {
    width: 90%;
    margin: 0 auto;
  }
  .button-container {
    width: 50%;
  }
  .button-container input {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .filter-btns {
    grid-template-columns: 1fr;
  }
  .cart-btns button {
    width: 250px;
  }
  .check-products-btn {
    width: 200px;
    padding-inline: 1rem;
  }
  .empty-cart-message {
    width: 100%;
  }
  .empty-cart-message h2 {
    font-size: 32px;
  }
  .header-links {
    gap: 1rem;
  }
}
